/* Head.css */
.head {
    background-color: #0f3460; /* Background color */
    padding: 10px 20px; /* Padding around the header */
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-width: 150px; /* Adjust according to your logo size */
  }
  
  .search-box {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 20px;
  }
  
  .search-box input {
    width: 100%;
    padding: 8px 12px;
    border: 9px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
  }
  
  .search-box button {
    padding: 8px 12px;
    background-color: #e94560;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
  }
  
  .right-icons {
    display: flex;
    align-items: center;
  }
  
  .account, .cart {
    margin-left: 20px;
  }
  
  .account i, .cart i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }
  
  .cart-count {
    background-color: #e94560;
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: relative;
    top: -10px;
    left: -10px;
  }
  .btn-logout {
    background-color: #0f3460; /* Background color of the button */
    border: none; /* No border */
    color: white; /* Color of the icon */
    padding: 10px; /* Increase padding to make the button larger */
    border-radius: 50%; /* Make the button circular */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Transition effect */
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
    width: 50px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
  }
  
  .btn-logout:hover {
    background-color: #11d63c; /* Change background color on hover */
    
  }
  
  